@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 6s ease infinite;
}
